body{
 background: #fff;   
}

.content{
    width: 178px;
    height: 178px;
    margin: 100px;
    background: url(../img/mapa.png);
    background-size: cover;
    border-radius: 50%;
    -moz-animation: rotacion 10s infinite; 
    -webkit-animation: rotacion 10s infinite linear; 
    box-shadow: -1px 8px 20px #1a1a1a;
}

.sombra{
    background: url(../img/bola.png);
    background-size: cover;
    position: absolute;
    width: 188px;
    height: 188px;
    
}
@-webkit-keyframes rotacion{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -298px 0px;
    }
}